<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="inventoryStyle.css">
<title>Equipment Specification Page</title>
</head>

<body>
  <div id="wrapper-div">

  <div id="nav-div">
    <div id="logo-div">
    </div>
    <div class="user-profile">
      <div class="user-profile-image">
        <img src="/images/userIcon.png" alt="Profile Image">
      </div>
    </div>
    <div class="user-profile-name">
      <h2 id = "welcomeMessage"></h2>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><img src="/images/caret-down.png" alt="" style="width: 15px; height:15px"></button>	
        <div class="dropdown-content">
            <a id="viewProfile">Edit Profile</a>
            <a onclick = "logout()">Logout</a>
        </div>
    </div>
  </div>
  </div>

  <div id="main-div">
    <div id="left-div">
      <div id="sidebar-div">
        <div class="sidebar-menu">
        <ul>
          <h3>MENU</h3>
          <li id = "inv"><a href="/inventory">Inventory</a></li>
          <li id = "sched" class="active"><a href="/scheduleFloorPage">Schedule</a></li>
          <li id = "insp"><a href="/inspectionFloorPage">Inspection</a></li>
          <li id = "hist"><a href="/historyPage">History</a></li>
          <li id = "pend"><a href="/pending">Pending</a></li>
          <h3 id = "inv1">ADD ACCOUNT</h3>
          <li id="inv2"><a href="/createAccount" target="_blank">Create Account</a></li>
        </ul>
      </div>
      </div>
    </div>

    <div id="right-div">
      <div id="header-banner-div">
          <div class="nav-link">
            <a href="/scheduleFloorPage">Floor</a>
            <a href="/scheduleAreaPage">Area</a>
            <a href="/scheduleEquipmentPage">Equipment</a>
            <a href="/calendarPage" class="nav-link-active">Calendar</a>
          </div>
      </div>

      
    <div id="body-area-div">
      <div class="row1">
          <div class="row2c1">
            <div class="equipBox">
                <div class="entityNumber">
                    <h3>1</h3>
                </div>
                <p>Equipment Name</p>
                <img alt="Equipment Image">
                <p>Serial Number: 12345</p>
            </div>   
          </div>
            <div class = "row2c2">
              <div class="setBtnContainer">
                <button class = "proposed">Proposed</button>
                <button class = "actual">Actual</button>
              </div>
                <div id="calendarDisplay" class="calendarDisplay">
                  <div class="date-container">
                    <select id="monthSelect"></select>
                    <select id="yearSelect"></select>
                  </div>
                    <div id="calendar"></div>
                </div> 
                <form id="remarksForm">
                  <label for="remarks">Remarks:</label>
                  <textarea id="remarks" name="remarks" rows="4" cols="50"></textarea>
                </form>
                <button id = "saveBtn">Save</button>
                <button id = "finish">Finish maintenance</button>      
          </div>    
      </div>
    </div>
  </div>
  </div>
  </div>
   <!-- <div id="footer-div">
      
    </div>-->
  </div>
  

<script src="calendar.js"></script>
</body>
</html>