<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>
    <h1>Create Account</h1>
    <div>
        <label for="user">Username:</label>
        <input type="pass" id="user" required><br><br>
        
        <label for="pass">Password:</label>
        <input type="pass" id="pass" required><br><br>
        
        <button id = "createBtn">Create Account</button>
    </div>
    <script src="createAccount.js"></script>
</body>
</html>
