<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="equipmentStyle.css">
<script src="login.js"></script>
<title>Equipment Page</title>
</head>

<body>
  <div class="container">
    <div class="column1">
      <div class="c1Row1">
        <h2 id="welcomeMessage"></h2>
      </div>
      <div class="c1Row2">
        <ul>
            <li class="active"><a href="/inventory">Inventory</a></li>
            <li><a href="/createAccount">Create Account</a></li>
        </ul>
      </div>    
    </div>
    <div class="column2">
      <div class="row1">
        <a href="/inventory">Floor</a>
        <a>Item 2</a>
      </div>
      <br>
      <br>
      <br>
      <button id="addEquipmentBtn" class="addFloor">Add Equipment</button>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Add Equipment</h2>
          <form id="equipmentForm" enctype="multipart/form-data">
            <input type="text" id="equipNameInput" placeholder="Equipment Name" required>
            <input type="text" id="equipNoInput" placeholder="Equipment Number" required>
            <input type="file" id="equipPicInpu" name="equipPicInput" accept="image/*" required>
            <select id="equipStatusInput" required>
                <option value="">Select Status</option>
                <option value="Good">Good</option>
                <option value="Need Maintenance">Need Maintenance</option>
                <option value="Need Replacement">Need Replacement</option>
            </select>
            <button type="submit" class="add">Add</button>
        </form>               
        </div>
      </div>
        <div class="row2">
          <div class="equipBox">
              <div class="entityNumber">
                  <h3>1</h3> <!-- Entity number -->
              </div>
              <p>Equipment Name</p> <!-- Equipment name -->
              <img src="image.jpg" alt="Equipment Image"> <!-- Equipment image -->
              <p>Serial Number: 12345</p> <!-- Serial number -->
              <!-- Add two buttons below the serial number -->
              <div class="button-container">
                  <a href="page1.html" class="button">Button 1</a>
                  <a href="page2.html" class="button">Button 2</a>
              </div>
          </div>
        </div>    
      </div>
    </div>
  </div>

<script src="equipment.js"></script>
</body>
</html>
