<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="inventoryStyle.css">
<title>Equipment Page</title>
</head>

<body>
  <div id="wrapper-div">
  
    <div id="nav-div">
      <div id="logo-div">
      </div>
      <div class="user-profile">
        <div class="user-profile-image">
          <img src="/images/userIcon.png" alt="Profile Image">
        </div>
      </div>
      <div class="user-profile-name">
        <h2 id = "welcomeMessage"></h2>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><img src="/images/caret-down.png" alt="" style="width: 15px; height:15px"></button>	
          <div class="dropdown-content">
              <a href="#">View Profile</a>
              <a onclick = "logout()">Logout</a>
          </div>
      </div>
    </div>
    </div>
    <div id="main-div">
      <div id="left-div">
        <div id="sidebar-div">
          <div class="sidebar-menu">
          <ul>
            <h3>MENU</h3>
            <li id = "inv" class="active"><a href="/inventory">Inventory</a></li>
            <li id = "sched"><a href="/scheduleFloorPage">Schedule</a></li>
            <li id = "insp"><a href="/inspectionFloorPage">Inspection</a></li>
            <li id = "hist"><a href="/historyPage">History</a></li>
            <h3 id = "inv1">ADD ACOUNT</h3>
            <li id="inv2"><a href="/createAccount" target="_blank">Create Account</a></li>
          </ul>
        </div>
        </div>
      </div>

      <div id="right-div">
        <div id="header-banner-div">
            <div class="nav-link">
              <a href="/inventory">Floor</a>
              <a href="/floorPage">Area</a>
              <a href="/equipmentPage" class="nav-link-active">Equipment</a>
            </div>
        </div>
      
        <div id="button-container-div">
          <input type="text" id="searchBox" placeholder="Search">
          <button id="addFloorBtn" class="addFloor">Add floor</button>
        </div>

      <div id="myModal" class="modal" style="height: 60%;">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2 class="label" style="margin-bottom: 65%; position: fixed;" >Add Equipment</h2>
          <form id="equipmentForm" enctype="multipart/form-data">
            <input type="text" id="equipNameInput" placeholder="Equipment Name" required>
            <input type="text" id="equipNoInput" placeholder="Equipment Number" required>
            <input type="file" id="equipPicInpu" name="equipPicInput" accept="image/*" required>
            <select id="equipStatusInput" required>
                <option value="">Select Status</option>
                <option value="Good">Good</option>
                <option value="Need Maintenance">Need Maintenance</option>
                <option value="Need Replacement">Need Replacement</option>
            </select>
            <button type="submit" class="add">Add</button>
        </form>               
        </div>
      </div>
      <div id = "body-area-div">
          <div class="row2">
            <div class="equipBox">
                <div class="entityNumber">
                    <p>1</p>
                </div>
                <p>Equipment Name</p>
                <img alt="Equipment Image">
                <p>Serial Number: 12345</p>
                <div class="button-container">
                    <a href="page1.html" class="button">Button 1</a>
                    <a href="page2.html" class="button">Button 2</a>
                </div>
            </div>
          </div>    
      </div>
        
      </div>
    </div>
    <!--<div id="footer-div">
      Footer
    </div>-->
  </div>

<script src="equipment.js"></script>
</body>
</html>
