<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="inventoryStyle.css">
<script src="login.js"></script>
<title>Floor Page</title>
</head>

<body>
  <div class="container">
    <div class="column1">
      <div class="c1Row1">
        <h2 id="welcomeMessage"></h2>
      </div>
      <div class="c1Row2">
        <ul>
          <li class="active"><a href="/inventory">Inventory</a></li>
          <li><a href="/createAccount">Create Account</a></li>
        </ul>
      </div>
    </div>
    <div class="column2">
      <div class="row1">
        <a href="/inventory">Floor</a>
        <p>Item 2</p>
      </div>
      <br>
      <br>
      <br>
      <button id="addAreaBtn" class="addFloor">Add Area</button>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Area</h2>
          <input type="text" id="areaNameInput" placeholder="Enter Area Name">
          <button id="submitAreaBtn"; class = "add">Add</button>
        </div>
      </div>
      <div class="row2">
        <p>Item 3</p>
        <p>Item 4</p>
      </div>
    </div>
  </div>

<script src="floorPage.js"></script>
</body>
</html>
