<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="inventoryStyle.css">
<title>Equipment Page</title>
</head>

<body>
  <div id="wrapper-div">
    <div id="logo-div">
      Logo
    </div>
  
    <div id="nav-div">
      <div class="user-profile">
        <div class="user-profile-image">
          <img src="/images/userIcon.png" alt="Profile Image">
        </div>
      </div>
      <div class="user-profile-name">
        <h2 id = "welcomeMessage"></h2>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><img src="/images/caret-down.png" alt="" style="width: 15px; height:15px"></button>	
          <div class="dropdown-content">
              <a href="#">View Profile</a>
              <a onclick = "logout()">Logout</a>
          </div>
      </div>
    </div>
    </div>
    <div id="main-div">
      <div id="left-div">
        <div id="sidebar-div">
          <div class="sidebar-menu">
          <ul>
            <h3>MENU</h3>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/scheduleFloorPage">Schedule</a></li>
            <li class="active"><a href="/inspectionFloorPage">Inspection</a></li>
            <li><a href="/historyPage">History</a></li>
            <h3>ADD ACOUNT</h3>
            <li><a href="/createAccount">Create Account</a></li>
          </ul>
        </div>
        </div>
      </div>

      <div id="right-div">
        <div id="header-banner-div">
            <div class="nav-link">
              <a href="/inspectionFloorPage" class="nav-link-active">Floor</a>
              <a href="/inspectionAreaPage" class="nav-link-active">Area</a>
              <a href="/inspectionEquipmentPage" class="nav-link-active">Equipment</a>
            </div>
        </div>
      <div id = "body-area-div">
          <div class="row2">
            <div class="equipBox">
                <div class="entityNumber">
                    <h3>1</h3>
                </div>
                <p>Equipment Name</p>
                <img alt="Equipment Image">
                <p>Serial Number: 12345</p>
                <div class="button-container">
                    <a href="page1.html" class="button">Button 1</a>
                </div>
            </div>
          </div>    
      </div>
        
      </div>
    </div>
    <div id="footer-div">
      Footer
    </div>
  </div>

<script src="inspectionEquipment.js"></script>
</body>
</html>
