<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/inventoryStyle.css">
  <title>Inventory Page</title>
</head>
<body>
  <div id="wrapper-div">
    <div id="logo-div">
      Logo
    </div>

    <div id="nav-div">
      <div class="user-profile">
        <div class="user-profile-image">
          <img src="/public/images/userIcon.png" alt="Profile Image">
        </div>
      </div>
      <div class="user-profile-name">
        User Profile Name
      </div>
      <div class="dropdown">
        <button class="dropbtn"><img src="/public/images/caret-down.png" alt="" style="width: 15px; height:15px"></button>	
        <div class="dropdown-content">
            <a href="#">View Profile</a>
            <a href="#">Logout</a>
      </div>

    </div>
</div>
    </div>

    <div id="main-div">
      <div id="left-div">
        <div id="sidebar-div">
          <div class="sidebar-menu">
          <ul>
            <h3>MENU</h3>
          <li class="active"><a href="/inventory">Inventory</a></li>
          <li><a href="/createAccount">Schedule</a></li>
          <li><a href="/createAccount">Inspection</a></li>
          <li><a href="/createAccount">History</a></li>
          <h3>ADD ACOUNT</h3>
          <li><a href="/createAccount">Create Account</a></li>
          </ul>
        </div>
        </div>
      </div>

      <div id="right-div">
        <div id="header-banner-div">
            <div class="nav-link">
              <a href="/inventory" class="nav-link-active">Floor</a>
            </div>
        </div>

        <div id="button-container-div">
          <button id="addFloorBtn" class="addFloor">
            Add floor
          </button>   
       </div>

        <div id="body-area-div">
          body area
        </div>
      </div>
    </div>

    <div id="footer-div">
      Footer
    </div>
  </div>





  <script src="inventory.js"></script>
  
</body>
</html>