<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body> 
    <div class="container">
        <div class="left">
            <div class="titleContainer">
                <h1 class="title">LIBRARY <br> ELECTRONIC EQUIPMENT <br> INVENTORY MAINTENANCE SYSTEM</h1>
            </div>
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
        </div>
        <div class="loginContainer">
            <p class="userImage"></p>
            <h1 class="userText">USER</h1>
            <input id="username" class="userBox" type="username" placeholder="Enter your username">
            <input id="password" class="passwordBox" type="password" placeholder="Enter your password">
            <button id="loginBtn">Login</button>
        </div>
    </div>
    <script src="/public/login.js"></script>
</body>
</html>
