<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="above-title-image"></div>
            <div class="title-container"> 
                <h1 class="title">LIBRARY ELECTRONIC EQUIPMENT INVENTORY MAINTENANCE SYSTEM</h1>
            </div>
        </div>
        <div class="right">
            <div class="login-container">
                <div class="user-image"></div>
                <h1 class="user-text">USER</h1>
                <input id="username" class="input-box" type="text" placeholder="Enter your username">
                <input id="password" class="input-box" type="password" placeholder="Enter your password">
                <button id="loginBtn">Login</button>
            </div>
        </div>
    </div>

    <script src="login.js"></script>
</body>
</html>
