<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="inventoryStyle.css">
<title>Floor Page</title>
</head>

<body>
  <div class="container">
    <div class="column1">
      <div class="c1Row1">
        <h2 id="welcomeMessage"></h2>
      </div>
      <div class="c1Row2">
        <ul>
          <li><a href="/inventory">Inventory</a></li>
          <li class="active"><a href="/createAccount">Schedule</a></li>
        </ul>
      </div>
    </div>
    <div class="column2">
      <div class="row1">
        <a href="/inventory">Floor</a>
        <p>Item 2</p>
      </div>
      <br>
      <br>
      <br>
      <div id = "body-area-div">
        <div class = "floorBox">
          <p>Item 3</p>
          <p>Item 4</p>
        </div>
      </div>
    </div>
  </div>

<script src="scheduleArea.js"></script>
</body>
</html>
