<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="partsStyle.css">
<title>Equipment Specification Page</title>
</head>

<body>
  <div id="wrapper-div">

  <div id="nav-div">
    <div id="logo-div">
    </div>
    <div class="user-profile">
      <div class="user-profile-image">
        <img src="/images/userIcon.png" alt="Profile Image">
      </div>
    </div>
    <div class="user-profile-name">
      <h2 id = "welcomeMessage"></h2>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><img src="/images/caret-down.png" alt="" style="width: 15px; height:15px"></button>	
        <div class="dropdown-content">
            <a href="#">View Profile</a>
            <a onclick = "logout()">Logout</a>
        </div>
    </div>
  </div>
  </div>

  <div id="main-div">
    <div id="left-div">
      <div id="sidebar-div">
        <div class="sidebar-menu">
        <ul>
          <h3>MENU</h3>
          <li id = "inv" class="active"><a href="/inventory">Inventory</a></li>
          <li id = "sched"><a href="/scheduleFloorPage">Schedule</a></li>
          <li id = "insp"><a href="/inspectionFloorPage">Inspection</a></li>
          <li id = "hist"><a href="/historyPage">History</a></li>
          <li id = "pend"><a href="/pending">Pending</a></li>
          <h3 id = "inv1">ADD ACCOUNT</h3>
          <li id="inv2"><a href="/createAccount" target="_blank">Create Account</a></li>
        </ul>
      </div>
      </div>
    </div>

    <div id="right-div">
      <div id="header-banner-div">
          <div class="nav-link">
            <a href="/inventory">Floor</a>
            <a href="/areaPage">Area</a>
            <a href="/equipmentPage">Equipment</a>
            <a href="/specsPage" class="nav-link-active">Specs</a>
          </div>
      </div>

      <div id="button-container-div">
        <input type="text" id="searchBox" placeholder="Search">
      </div>
      
    <div id="body-area-div">
      <div class="row1">
          <div class = "row2c1">
            <form id="specsForm"  action="/saveSpecs" method="POST">
              <div class="addPartsBox">
                  <h3 class="specsLabel">Equipment Specification</h3>
                  <input type="text" class="specsNameInput" id="specsNameInput" name="specsName" placeholder="Enter Specification" required>
                  <button type="submit" class="addPart">Add</button>
              </div>
            </form>          
          </div>
          <div class = "row2c2">
              <div class = "partsDisplay">
                <p>display</p>
              </div>
          </div>   
      </div>
    </div>
  </div>
</div>
</div>
  <!--<div id="footer-div">
    Footer
  </div>-->
</div>
  

<script src="specs.js"></script>
</body>
</html>
