* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /*background-color: #E1E7DD;*/
    background: linear-gradient(135deg, #E1E7DD, rgba(255, 255, 255, 0.3)), url('your-background-image.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    overflow: hidden;
    width: 80%;
    max-width: 900px;
    height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.left {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.above-title-image {
    width: 280px; 
    height: 320px; 
    margin-bottom: 0px;
    background-image: url('images/wa30.png');
    background-size: cover;
}

.title-container {
    margin-bottom: 20px;
    width: 90%;
    max-width: 500px;
    height: auto;
    /*border: #4D7058 solid 1px;*/
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.title {
    color: #4D7058;
    font-size: 24px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 90%;
    max-width: 300px;
    height: auto;
    border: #4D7058 solid 1px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-image {
    margin-top: 20px;
    background-image: url('images/VSU\ MS-Logo\ V1.png');
    background-size: cover;
    width: 40px;
    height: 40px;
}

.user-text {
    font-size: 20px;
    color: #393939;
    margin: 20px 0;
}

.input-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #627A6A;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    color: #393939;
}

.input-box::placeholder {
    color: #aaa;
}

#loginBtn {
    background-color: #4D7058;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#loginBtn:hover {
    background-color: #B49B44;
}
